
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fjalla+One&display=swap');


html body {
  margin: auto;
  background: #f6f1eb;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-color:#e2bb9d;
  background-image: url(./assets/Design2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  width: 100vw;
  height: 700px;
  margin: auto;
  background-attachment: fixed;
}



.row-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.vertical-centering {
  display: flex;
  align-items: center;
  margin: auto;
  width: 30%;
  
}

.logo-skills{
  margin-left: 150px;
  padding: 20px auto;
  width: 40%;
}

#navbar {
  height: 70px;
  width: 500px;
  padding: auto 70px;
}

.navbar-item {
  margin: auto;
  color: white;
  font-family: Arial;
  letter-spacing: 2px;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Bree Serif', serif;
}

.navbar-item:hover{
  color: #a48474;
}



/*aside  text */
.text--big {
  font-family: 'Poppins', sans-serif;
  font-size: 8em;
  font-weight: 700;
  line-height: 110px;
  margin:250px;
  margin-right: 80px;
  
}

.contact-text{
  color: #a68077;
}


.text__background {
  font-family: 'Abril Fatface', cursive;
  position: absolute;
  left: 4px;
  bottom: 140px;
  color: rgba(0, 0, 0, 0.05);
  font-size: 20rem;
  font-weight: 700;
  margin-left: 100px;
}

.text--sub {
  font-size: 15px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color:#a48474;
  text-align: right;
  margin:140px;
  padding-bottom: 20px;
  padding-bottom: 20px;
}


h1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 6.5em;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-family: 'Roboto', sans-serif;
}

.hello {
  margin-top: 15%;
  margin-bottom: 0%;
}


h2 {
  color: white;
  font-family: Arial;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 4px;
  text-align: center;
  margin: 0px 0px;
}

.about {
  background:#f6f1eb;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height:900px;
  display:flex;


}


.about-content {
  flex-direction: column;
  text-align: center;
  margin-top: 300px;
  margin-right: 100px;
  justify-content: space-around;

}


.line-about{
  border: 2px dashed red;
}


.transition1 {
  background-color:#e2bb9d;;
  height: 500px;
  width: 200%;
  transform: rotateZ(-5deg) translateX(-70px);
  z-index: 10;
  position: absolute;
  bottom: 100%;
}


.headings {
  margin: 0px;
  margin-top:30px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px #c09d8b;
  font-size: 4rem;
  font-weight: 600;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  color: rgba(97, 82, 82, 0.466);
  font-weight: 100;
  font-size: 1.2rem;

}

.profile-photo {
  width: 100%;
  height: 500px;
  margin-top:300px;
  margin-left: 100px;
}


.project-title {
  font-family: 'Poppins', sans-serif;
  color:#be9c82;
  font-size: 2em;
  font-weight: bold;
  padding: 10px 10px 20px 0px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color:#ebc8c2;
  margin-top: -10px;
  
}


.btn-wrapper {
  text-align: center;
}


.contact {
  margin-top: -100px;
  margin: 50px auto;
  background-color:#f6f1eb;
  background-image: url(./assets/bg1.png);
  background-repeat: no-repeat;
  background-position:top;
  height: 300px;
  width: 100%;

}


.centering {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-left: 15px;
}

.coded {
  text-align: center;
  margin: auto;
  padding-top: 50px;
  color:#ebc8c2;
  letter-spacing: 0.2rem;
  margin-top: -80px;
  margin-bottom: 20px;
  text-transform: uppercase;

}



/* social media*/

a{
  color: black;

}

a:hover{
  color: white;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}


.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #2a4070;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}



#arrow-up {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  
}



.extra-text{
  text-align:center;
  
}

  .modal-body{
    margin-top: -100px;

  }

 .portfolio-grid{
    background-color:#ebc8c2 !important;
    margin-top: -50px;
  }

  #portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px; 
   
  }
    #portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
   }

    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background-color:hsla(33, 42%, 67%, 0.74);
  }

    
  #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
   opacity: 1; 
  }

  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
 }

  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px; 
}
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
 }
  #portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
 background-color:white;
 }
     
 #portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
 }
      
 #portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }
  
  #portfolio * {
    z-index: 2; 
  }

  .btn-primary {
    background-color:#6e9f95;
    border:2px solid #6e9f95; 
    padding: 16px 30px;
    box-shadow: inset 0px 0px 0px 1px ;
    border: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    letter-spacing: 0.05em;
    cursor: pointer;
    margin: auto;

  
  }


    .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
      background-color: #e8a8a0 !important;
      border:2px solid #e8a8a0 ; 
    

      
    }


    .cv{
      margin-top: -50px;
      margin-right: 130px;
      text-align:right;
      text-shadow: 0 0 5px #ffa500, 0 0 15px #e8a8a0 , 0 0 20px #cea791, 0 0 40px #ffa500, 0 0 60px #c48282, 0 0 10px #dbae76, 0 0 98px #e5b1b1;
      animation: blink 12s infinite;
       -webkit-animation: blink 12s infinite;
       font-family: 'Poppins', sans-serif;
       letter-spacing: 0.2rem;

    }

    @-webkit-keyframes blink {
      20%,
      24%,
      55% {
        color:white;
        text-shadow: none;
      }
    
      0%,
      19%,
      21%,
      23%,
      25%,
      54%,
      56%,
      100% {
   
      text-shadow: 0 0 5px #eed3b1, 0 0 15px #e4b799, 0 0 20px #e7d6b5, 0 0 40px #dfd2ba, 0 0 60px #a68077, 0 0 10px #ebd7bf, 0 0 98px #d3a7a7;
        color:#e8a8a0 ;
      }
    }
    
    @keyframes blink {
      20%,
      24%,
      55% {
        color:white;
        text-shadow: none;
      }
    
      0%,
      19%,
      21%,
      23%,
      25%,
      54%,
      56%,
      100% {
  
          text-shadow: 0 0 5px #eed3b1, 0 0 15px #e4b799, 0 0 20px #e7d6b5, 0 0 40px #dfd2ba, 0 0 60px #a68077, 0 0 10px #ebd7bf, 0 0 98px #d3a7a7;
          color:#e8a8a0 ;
      }
    }

    .cv:hover{
      color:white!important;
      transform: scale(1);
    }
    

    
    